.elements__delete-btn {
    background-image: url(../../../images/trashIcon.svg);
    width: 18px;
    height: 19px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.3s;
    padding: 0;
}
.elements__delete-btn:hover {
    opacity: 0.6;
    transition: 0.3s;
}
