.profile__add-btn {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    background-image: url(../../../image/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 2px;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .profile__add-btn {
        margin-top: 10px;
    }
}
@media screen and (max-width: 550px) {
    .profile__add-btn {
        min-width: 282px;
        margin: 36px 0;
    }
}
.profile__add-btn:hover {
    opacity: 0.5;
    transition: 0.2s;
}
