.elements__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 21px 27px 21px;
}
@media screen and (max-width: 550px) {
    .elements__description {
        margin: 20px 19px 27px 21px;
    }
}